{% extends 'edx/base.html' %}


{% block content %}

<div class="payment-card-sec">
   <div class="payment-card">
	{% csrf_token %}
	<input id="web_csrf_token" value="{{ csrf_token }}" type="hidden"/>
	      <div>
         <h3 class="pay-title">Payment Method</h3>
      </div>
      <div class="pay-card-opt">
		{% for cards in stripe_response %}
			{% if customer_default_card == cards.id %}
			<div class="pay-card-opt-ls">
				<div>
					<label>
						<input type="radio" name="light" checked id="{{ cards.id }}">
					</label>
				</div>
				<img class="credit-cards-img" src="https://i.ibb.co/ZVLCmyq/001-credit-card.png" alt="Credit Cards">
				<p class="credit-cards-name">{{ cards.card.brand }}-<span class="credit-cards-num">{{ cards.card.last4 }}</span></p>
				<p class="default-mark">Default Selected Card</p>
			</div>
			{% else %}
			<div class="pay-card-opt-ls">
				<div>
					<label>
						<input type="radio" name="light" id="{{ cards.id }}">
					</label>
				</div>
				<img class="credit-cards-img" src="https://i.ibb.co/ZVLCmyq/001-credit-card.png" alt="Credit Cards">
				<p class="credit-cards-name">{{ cards.card.brand }}-<span class="credit-cards-num">{{ cards.card.last4 }}</span></p>
			</div>
			{% endif %}
		 {% endfor %}
         <div class="add-pay-card-btn">
			 <a href="/basket/"><span>+</span> Add New Card</a>
            <a href="#" onclick="continue_to_basket();"> Continue<i class="fa fa-arrow-right"></i></a>
         </div>
      </div>
   </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function continue_to_basket(){
		var selected_value = document.querySelector('input[name="light"]:checked').id;
		var host = window.location.protocol + "//" + window.location.host + "/basket/" + selected_value;
			window.location.replace(host);
		}
		</script>

{% endblock content %}
